<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>myMoon Cinema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan|Quicksand|Thasadith" rel="stylesheet">
</head>

<body>
    <div id="app">
        <!--Modal: Login / Register Form-->
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold" style="color:#212529;">Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-5">
                        <form action="">
                            <div class="md-form mb-2">
                                <input required type="email" id="defaultForm-email-login" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="defaultForm-email-login"
                                    style="color:rgba(83, 82, 82, 0.514)">Your email</label>
                            </div>
                            <div class="md-form mb-2">
                                <input required type="password" id="defaultForm-pass-login"
                                    class="form-control validate">
                                <label data-error="wrong" data-success="right" for="defaultForm-pass-login"
                                    style="color:rgba(83, 82, 82, 0.514)">Your password</label>
                            </div>
                            <button type="submit" class="btn btn-default bg-primary text-light">Login</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="modalSignForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold" style="color:#212529;">SignUp</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-5">
                        <form action="">
                            <div class="md-form mb-2">
                                <h2 style="text-align: center;">Create Account</h2>
                                <input required type="text" id="defaultForm-real-name" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="defaultForm-real-name"
                                    style="color:rgba(83, 82, 82, 0.514)">Your name</label>
                            </div>
                            <div class="md-form mb-2">
                                <input required type="text" id="defaultForm-username" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="defaultForm-username"
                                    style="color:rgba(83, 82, 82, 0.514)">Usrename</label>
                            </div>
                            <div class="md-form mb-2">
                                <input required type="email" id="defaultForm-email" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="defaultForm-email"
                                    style="color:rgba(83, 82, 82, 0.514)">Email</label>
                            </div>
                            <div class="md-form mb-2">
                                <input required type="password" id="defaultForm-pass" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="defaultForm-pass"
                                    style="color:rgba(83, 82, 82, 0.514)">Password</label>
                            </div>
                            <button type="submit" class="btn btn-default bg-primary text-light"
                                style="widows: 100%;">SignUp</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
        <!--Modal: Login / Register Form-->
        <!-- nav start -->
        <div class="header"></div>
        <nav class="nav sticky-top navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html"><img src="pic/logo.png" alt="" width="150px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#moviezone">Movie <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <form class=" search form-inline  mr-4">
                    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search"
                        v-model="searchText">
                </form>
                <ul class="navbar-nav mr-10">
                    <li class="nav-item log">
                        <a href="#" data-toggle="modal" data-target="#modalLoginForm">
                            <img src="pic/login-password.png">
                            <img src="pic/login-passwordh.png" class="img-top" alt="Card Front">
                            <p>Login</p>
                        </a>
                    </li>

                    <li class="nav-item user">
                        <a href="#" data-toggle="modal" data-target="#modalSignForm">
                            <img src="pic/avatar.png">
                            <img src="pic/userh.png" class="img-top" alt="Card Front">
                            <p>SignUp</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <mynavbar></mynavbar> -->
        <!-- nav end -->
        <div class="space05"></div>
        <!-- Trailer start -->
        <div class="video">
            <iframe width="1120" height="630" :src="'https://www.youtube.com/embed/'+movies[5].ucode+'?'"
                frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <!-- Trailer end -->
        <div class="space05"></div>
        <!-- movie detail start -->
        <div class="profile">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <img :src="movies[5].poster" alt="" width="100%">
                    </div>
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h1>{{movies[5].name.en}} </h1>
                                <footer class="blockquote-footer">{{movies[5].name.th}}</footer>
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <p>ผู้กำกับ : {{movies[5].director}}</p>
                                    <p>นักแสดง : {{movies[5].actors}}</p>
                                    <p> หมวดหมู่ :
                                        <label v-for="categorie,index in movies[5].categories">
                                            {{categories[index].name}}&nbsp;
                                        </label>
                                    </p>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <p>เรื่องย่อ :</p>
                                        </div>
                                        <div class="col-md-10"
                                            style="height:29vh;width:11vw;border:1px solid rgba(204, 204, 204, 0);font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                                            <label for=""><span v-html="movies[5].synopsis"></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label for="cineplex-select">เลือกโรงภาพยนต์</label>
                                        <select required class="form-control" id="cineplex-select"
                                            v-model="cineplex_select">
                                            <option v-for="cineplex in cineplexs" :disabled="cineplex.disabled"
                                                :value="cineplex.id">{{cineplex.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <template v-if="cineplex_select === 'C0'">
                                        <button class="btn btn-danger" disabled>
                                            <h3>BUY TICKET</h3>
                                        </button>
                                    </template>
                                    <template v-else>
                                        <a href="showtime.html" class="btn btn-danger">
                                            <h3>BUY TICKET</h3>
                                        </a>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- movie detail end -->
        <div class="space05"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="data.js"></script>
</body>

</html>