<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>myMoon Cinema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
</head>

<body>
    <div id="app">
                <!--Modal: Login / Register Form-->
                <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold" style="color:#212529;">Login</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-5">
                            <div class="md-form mb-2">
                                <input type="email" id="defaultForm-email" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="defaultForm-email"
                                    style="color:rgba(83, 82, 82, 0.514)">Your email</label>
                            </div>
                            <div class="md-form mb-2">
                                <input type="password" id="defaultForm-pass" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="defaultForm-pass"
                                    style="color:rgba(83, 82, 82, 0.514)">Your password</label>
                            </div>
                        </div>
    
                        <button class="btn btn-default bg-primary text-light">Login</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalSignForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold" style="color:#212529;">Sign in</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-5">
                            <div class="md-form mb-2">
                                <input type="email" id="defaultForm-email" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="defaultForm-email"
                                    style="color:rgba(83, 82, 82, 0.514)">Your email</label>
                            </div>
                            <div class="md-form mb-2">
                                <input type="password" id="defaultForm-pass" class="form-control validate">
                                <label data-error="wrong" data-success="right" for="defaultForm-pass"
                                    style="color:rgba(83, 82, 82, 0.514)">Your password</label>
                            </div>
                        </div>
    
                        <button class="btn btn-default bg-primary text-light">Sign in</button>
                    </div>
                </div>
            </div>
            <!--Modal: Login / Register Form-->
            <!-- nav start -->
            <div class="header"></div>
            <nav class="nav sticky-top navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html"><img src="pic/logo.png" alt="" width="150px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#moviezone">Movie <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
    
                    <form class=" search form-inline  mr-4">
                        <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search"
                            v-model="searchText">
                    </form>
                    <ul class="navbar-nav mr-10">
                        <li class="nav-item log">
                            <a href="#" data-toggle="modal" data-target="#modalLoginForm">
                                <img src="pic/login-password.png">
                                <img src="pic/login-passwordh.png" class="img-top" alt="Card Front">
                                <p>Login</p>
                            </a>
                        </li>
    
                        <li class="nav-item user">
                            <a href="#" data-toggle="modal" data-target="#modalSignForm">
                                <img src="pic/avatar.png">
                                <img src="pic/userh.png" class="img-top" alt="Card Front">
                                <p>SignUp</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- <mynavbar></mynavbar> -->
            <!-- nav end -->
        <div class="space05"></div>
        <!-- step bar start-->
        <div class="md-stepper-horizontal orange">
            <div class="md-step active ">
                <div class="md-step-circle"><span>1</span></div>
                <div class="md-step-title">Select Showtime</div>
                <div class="md-step-optional"><img src="pic/cinema.png" alt=""></div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step">
                <div class="md-step-circle"><span>2</span></div>
                <div class="md-step-title">Select Seats</div>
                <div class="md-step-optional"><img src="pic/seats.png" alt=""></div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
            <!-- <div class="md-step">
                <div class="md-step-circle"><span>3</span></div>
                <div class="md-step-title">Payment</div>
                <div class="md-step-optional"><img src="pic/payment.png" alt=""></div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div> -->
            <div class="md-step">
                <div class="md-step-circle"><span>3</span></div>
                <div class="md-step-title">Get Tickets</div>
                <div class="md-step-optional"><img src="pic/tickets.png" alt=""></div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
        </div>
        <!-- step bar end-->
        <!-- choose -->
        <div class="choose-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h2 style="text-align: center">Theatre 6</h2>
                    </div>
                    <div class="col-md-3">
                        <img :src="movies[0].poster" alt="" width="100%">
                    </div>
                    <div class="col-md-6">
                        <h2>{{movies[0].name.en}} </h2>
                        <footer class="blockquote-footer">{{movies[0].name.th}}</footer>
                        <label for="chooseDate">Select Date:</label>
                        <input type="date" name="chooseDate" id="chooseDate" v-model="date_select">
                        <label for="chooseDate">Showtime: </label>
                        <button type="button" class="btn btn-outline-dark" value="11:30"
                            @click="time_select = $event.target.value">11:30</button>
                        <button type="button" class="btn btn-outline-dark" value="12:50"
                            @click="time_select = $event.target.value">12:50</button>
                        <button type="button" class="btn btn-outline-dark" value="14:56"
                            @click="time_select = $event.target.value">14:56</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- choose -->
        <!-- next step -->
        <template v-if="date_select === '' || time_select === ''">
            <div class="next-step">
                <button type="button" class="btn btn-danger btn-lg" disabled>NEXT</button>
            </div>
        </template>

        <template v-else>
                <div class="next-step">
                    <a href="seat.html"><button type="button" class="btn btn-danger btn-lg">NEXT</button></a>
                </div>
            </template>
        <!-- next step -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="data.js"></script>
</body>

</html>