*{
    font-family: "Lato", sans-serif;
}
body{
    background: rgb(0, 0, 0);
}
.header {
    width: 100%;
    height: 100px;
    background: #460101;
  }
  .nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%);
  }
  /* .nav.is-sticky {
    height: 50px;
  } */
  .navbar-light .navbar-nav .nav-link {
    transition: .7s;
    font-size: 1.1vw;
    color: rgba(240, 248, 255, 0.76);
 
  }
  .navbar-light .navbar-nav .nav-link:hover{
      border-radius: 3px;
      cursor: pointer;
      color: #c6342e; 
 
  }
  li.nav-item {
    margin-right: 10%;
}
.navbar-nav.right{
    padding-top: 2%;
    width: 5%;
}
.log,.user {
    position: relative;
    display: inline-block;
    
}

.log .img-top,.user .img-top {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    transition: 7s;
}
.log:hover .img-top {
  position: absolute;
    display: inline;
    /* padding-left: 3%; */
    /* padding-top: 2%; */
}
.user:hover .img-top {
  position: absolute;
    display: inline;
    /* padding-left: 13%; */
}
.navbar-nav.right a p:hover{
    color: #c6342e; 
}
  .content {
    width: 100%;
    height: 100vw;
  }
  p{
      color: aliceblue;
      font-size: 0.9vw;
  }
  h1{
    font-size: 2vw;
    color: #ffffff;
  }
  .search input{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1vw;
    height: 37px;
    width: 20%;
    background: transparent;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border: 2px solid rgba(245, 245, 245, 0.705);
    outline: none;
    border-radius: 37px;
    padding: 0 10px;
    pointer-events: all;
    transition: border .7s ease, width .7s ease .7s;
  }
  .search input:focus {
    border: 2px solid #e50914;
    background: transparent;
    width: 20vw;
    color: rgba(255, 255, 255, 0.74)
  }
  .search input:hover {
    border: 2px solid #e50914;
    background: transparent;
    width: 20vw;
    color: rgba(255, 255, 255, 0.74)
  }
  .carousel-item img{
      height:900px;
  }
  .space {
    width: 100%;
    height: 150px;
    background: #000000;
  }
  .space05 {
    width: 100%;
    height: 50px;
    background: #000000;
  }
  .space h1{
      font-size: 4vw;
      color: aliceblue;
      margin: 0 30%;
      font-family: "Lato", sans-serif;
  }
  .btn-group {
    display: flex;
    text-align: center;
    margin: 0 12%;
    
  }
  .btn-group button:hover {
    border: 5px solid rgb(46, 9, 9) !important;
    background: linear-gradient(to top, rgb(66, 39, 39) 0%, rgba(0, 0, 0, 0) 100%);
    color:  #ffffff
  }
  .btn-group button{
    border-radius:15px 50px;
    border-right: 2px solid #383838;
    border-left: 2px solid #5c5b5b;
    margin-top: 15%;
    background: linear-gradient(to top, rgb(43, 43, 43) 0%, rgba(0, 0, 0, 0) 100%);
    color: rgb(185, 185, 185);
    font-size: 1.5vw;
    padding: 1vh;
    transition: border .4s ease, width .4s ease .4s;
    width: 95%;
  }
  .btn-group button:focus{
    border: 5px solid #680b10;
    background: linear-gradient(to top, rgb(82, 39, 39) 0%, rgba(0, 0, 0, 0) 100%);
    color: #ffffff;
    
  }
  .card-img-top {
    height: 400px;
}
h3{
    font-size: 1.4vw;
    color: rgb(226, 226, 226);
}
h4{
    font-size: 1vw;
    color: rgb(226, 226, 226);
}
a:hover h3,a:hover h4{
    color: rgb(155, 30, 30) !important;
}
a:hover .card{
    background: #d8cfcf !important;
}
a:hover {
    color: #0056b3;
    text-decoration:unset;
}
.video{
  text-align: center;
}
.profile .card{
  background: rgba(143, 143, 143, 0.404);
}
.blockquote-footer{
  font-size: 1.3vw;
}
label{
  color: aliceblue;
  font-size: 0.9vw;
}
.btn-danger{
  width: 100%;
}
.btn-danger:hover{
  width: 100%;
  background: #ffffff;
}

table, td {
  /* border: solid 1px white; */
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 10px;
}
td{ 
  padding: 0px;
  width: 35px;
  height: 50px;
  color: wheat;
  text-align: center;
}
#cineplex-screen{
  width:90%; 
  background-color: wheat; 
  margin:  0 auto; 
  margin-bottom: 70px;
  height: 80px;
  text-align: right;
}

.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:transparent;
	box-shadow: 0 3px 8px -6px rgba(0,0,0,.50);
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(189, 187, 187, 0.185);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:rgb(145, 25, 25);
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(255, 255, 255, 0.918);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(255, 255, 255, 0.918);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
  font-size:12px;
  color:rgba(255, 255, 255, 0.918);
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(255, 255, 255, 0.918);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
.choose-box label {
  display: block;
  color: #000000;
}
.choose-box input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
.choose-box{
  background: rgb(255, 255, 255);
    width: 85%;
    margin: auto;
    padding: 1%;
    border-radius: 15px;
}
.next-step{
  width: 85%;
  margin: auto;
  margin-top: 2%;
}
.next-step button:hover{
  background: #641717;
}
h2 {
  font-size: 2vw;
}
/*payment */
@media screen and (min-width: 1024px) {
  #form-wrapper {
    left: calc(50vw - 512px);
    margin-bottom: 5%;
  }
}
@media screen and (max-width: 1023px) {
  #form-wrapper #form-cart-menu {
    width: auto !important;
  }

  #form-wrapper {
    top: 0px !important;
  }
}
#form-wrapper {
  width: 100vw;
  max-width: 1024px;
  background-color: white;
  float: left;
  position: relative;
  top: 25px;
  border-radius: 3px;
  box-shadow: 0px 0px 36px -5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#form-wrapper #form-left-wrapper {
  width: 75%;
  float: left;
  height: 100%;
  padding: 20px;
  position: relative;
  min-height: 278px !important;
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1023px) {
  #form-left-wrapper {
    width: 100% !important;
  }
}
#form-tab-menu .tab-menu-item {
  width: 33%;
  float: left;
  padding-top: 15px;
  padding-bottom: 25px;
  box-sizing: border-box;
  color: #cfd2e4;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  transition: 100ms ease;
  text-align: center;
}
#form-tab-menu .tab-menu-item:not(.current):hover {
  color: #bec2db;
}
#form-tab-menu .current {
  color: #313a73;
  border-bottom: 3px solid #b13823;
  cursor: default;
  font-weight: 600;
  box-sizing: border-box;
}

#form-cart-menu {
  width: 25%;
  float: left;
  background-color: #791e1e;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-size: 0.9em;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  min-height: 278px;
}
#form-cart-menu .shopping-cart-head h1 {
  font-weight: 600;
  color: white;
}

tr.shopping-cart-item {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  box-sizing: border-box;
  line-height: 1.4em;
}
tr.shopping-cart-item td {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.03);
  border-top: 3px solid #313a73;
  border-bottom: 3px solid #313a73;
  box-sizing: border-box;
  width: 100%;
}

.cart-title {
  color: #34a7e8;
}

.shopping-cart-total {
  color: white;
}
.shopping-cart-total td {
  padding: 5px;
  padding-top: 15px;
}

.cart-price:before, .cart-price-total:before {
  content: '$';
}

.cart-price:not(.cart-price-total) {
  color: rgba(255, 255, 255, 0.9);
}

.shopping-cart-head {
  padding-bottom: 25px;
  padding-top: 5px;
}

#cash-body, #credit-body, #prompt-body {
  position: relative;
  width: 100%;
}

#credit-body, #prompt-body {
  display: none;
}

.form-input {
  float: left;
  box-sizing: border-box;
  padding-right: 10px;
}
.form-input label {
  line-height: 30px;
  color: #313a73;
}
.form-input input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  color: #313a73;
}

.input-small {
  width: 33.33%;
}

.input-medium {
  width: 66.66%;
}

@media screen and (max-width: 700px) {
  .input-small {
    width: 50%;
  }

  .input-medium {
    width: 100%;
  }
}
@media screen and (max-width: 475px) {
  .input-small {
    width: 100%;
  }

  .input-medium {
    width: 100%;
  }
}
.form-input-checkbox {
  font-size: 0.8em;
  cursor: pointer;
  float: right;
  margin-top: 25px;
}
.form-input-checkbox input {
  cursor: pointer;
}

.hr {
  margin-top: 35px;
  margin-bottom: 35px;
  height: 2px;
  width: calc(100% - 10px);
  background-color: rgba(223, 225, 237, 0.7);
  float: left;
  box-sizing: border-box;
}

.form-input input {
  border-radius: 2px;
  border: 2px solid #dfe1ed;
}

#contact-details {
  float: left;
  margin-top: 20px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  #form-cart-menu {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 1023px) {
  #form-cart-menu {
    border-bottom-left-radius: 3px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    position: relative !important;
    top: 0;
  }
}
#form-submit {
  padding-top: 30px;
  float: right;
  clear: both;
  width: 100%;
}
#form-submit input[type='submit'] {
  background-color: #29d366;
  border: none;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  width: 25%;
  min-width: 150px;
  float: right;
}

@media screen and (max-width: 1023px) {
  #form-submit input[type='submit'] {
    width: 33.3%;
  }
}
@media screen and (max-width: 475px) {
  #form-submit input[type='submit'] {
    width: 100%;
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/* .seat_checkbox{
  display: none;
}
.seat_checkbox + label{
    display: inline-block;
    background: url('http://www.majorcineplex.com/assets/front/images/booking2/seat-4.png') no-repeat center top transparent;
    background-size: contain;
    width: 35px;
    height: 50px;
    padding: 0 0 0 0;
}
.seat_checkbox:checked + label{
  background: url('http://www.majorcineplex.com/assets/front/images/booking2/seatsuccessSym.png') no-repeat center top transparent;
  width: 35px;
  height: 50px;
  display: inline-block;
  padding: 0 0 0 0;
} */
input[type=checkbox] {
  display: none;
}
input[type=checkbox]+label {
  display: inline-block;
  background: url(http://www.majorcineplex.com/assets/front/images/booking2/seat-2.png) no-repeat center top transparent;
  background-size: cover;
  width: 35px;
  height: 50px;
  /* padding: 0px; */
}
input[type=checkbox]:checked+label {
  background: url(http://www.majorcineplex.com/assets/front/images/booking2/seatsuccessSym.png) no-repeat center top transparent;
  background-size: cover;
  display: inline-block;

}
